	.lst{margin-left:3%} 
	.show{color:blue;display:none}
	.a{font-size:75%} 
	.sho{display:none} 
	.blu{color:blue} 
	.ref{margin-left:5%}

	#listing{margin-top:3em;margin-left:4em;font-size:120%;padding-top: 1px;padding-bottom:2px;
		background: #f5f5f5; width:30%}
